.modalBackground {
    width: 100vw;
    height: 100vh;
    /*background-color: rgba(200, 200, 200);*/
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input {
    height: 50px;
}

.contact-me {
    color: black;
}

p {
    margin: 0;
    font-size: 20px;
    color: #312e2e;
}

.modalContainer {
    width: 400px;
    /*height: 500px;*/
    height: auto;
    border-radius: 12px;
    background-color: #D3573C;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
}

.closeModalButton {
    height:45px;
    color: white;
    cursor: pointer;
}

.modalContainer .title {
    display: flex;
    color: black!important;
}

.titleCloseBtn {
    display: flex;
    justify-content: flex-end;
}

.titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.modalContainer .footer button {
    width: 150px;
    height: 50px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color: white;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}

#sendMessage {
    background-color: #901C1C;
}